* {
        font-family: georgia;
        text-align: center;
    }
    
    body {
        color: rgb(0, 0, 0);
        background-image: url("fog.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        padding: 0;
        margin: 0;
        border-style: groove;
        border-width: medium;
        border-color: darkolivegreen;
        border-radius: 5px;
    }
    
    section {
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 100vh;
    }
    
    .pre-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    pre {
        font-size: small;
        max-width: 100%;
        overflow-x: auto;
    }
    
    .player {
        aspect-ratio: 16/9;
        border-radius: 50px;
        height: 40%;
        width: 40%;
    }
    
    .youtube, .email {
        font-size: larger;
        color: darkolivegreen;
    }
    
    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
    }
    
    @media (prefers-reduced-motion) {
        .hidden {
            transition: none;
        }
    }
    
    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
    
    @media screen and (max-width: 768px) {
        .player {
            height: 30%;
            width: 60%;
        }
    }
    
    @media screen and (max-width: 480px) {
        .player {
            height: 20%;
            width: 80%;
        }
    }
    